*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(214, 213, 213);
    height: 100vh;
    margin: 0;
}

header{
    background-color:rgb(5, 5, 5);
    font-size: 35px;
    padding-bottom: 15px;
    color: lavender;
    display: flex;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;

}

.kaka{
    list-style: none;
    margin-right: 20px;
    color:white;
    font-size: 17px;
    background-color: rgb(83, 83, 79);
    padding: 10px;
    border-radius: 10px;
}

.kaka::after{
    margin: 8px;
}

.kaka:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.barra{
    padding: 0;
    font-size: 20px;
    display: flex;
    color: white;
}
header{
    padding: 0 30px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

input{
    display: inline-block;
    height: 30px; width: 200px;
    text-align: center;
}
form{
    display: flex;
    align-items:center;
}

h1{
    text-align:center;
    width: 100%;
}
h1::after{
    content: "🐖🥓🐖";
    font-size: 25px;
    margin: 10px;
    
}

div{
display: flex;

}


.popo{
    margin: 10px;
    font-size:23px;
    color: rgba(16, 46, 7, 0.801);
    font-weight: bold;  
    
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: rgb(0, 2, 3);
}
figure{
    display: inline-block;
}
img{
    height: 350px;
    border: 1px rgb(3, 3, 3) solid;
    border-radius: 20px;
    border-width: 2px;
    margin-top: 30px;
    
}
.picture-panchis{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo{
    margin:0%;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 13px;

}

.titulo:hover{
    cursor: pointer;
}
.recordatorio {
    margin: 10px auto 0 ;
    background-color: rgb(152, 153, 150);
    border: 2px black solid;
    border-radius: 12px;
    width: 400px;
    text-align: center;
    padding: 20px;

}
.lista{
    color: rgb(3, 3, 3);
}
.listanav{
    display: flex;
}
.panchis img{
    margin: 0;
    height: 60px;
}
footer{
    margin: 40px 0px 0px 0px;
    background-color: black;
    padding: 2px;
}
footer p{
    color: white;
    font-size: 20px;
    justify-content: center;
    display: flex;
}
.fotofooter img{
    height: 100px;
    margin: 0;

}
.fotofooter{
    width: 100%;
    display: flex;
    justify-content: center;
}

