*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-image: linear-gradient(to left, #3617c9, #0062f3, #0090fd, #00b7f5, #1dd9eb);    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
}
    
body{
    background-color: rgb(218, 218, 245);
    font-family: "Mukta";
}
.div-padre{
    height: 100vh;
    width: 250px;
    background-color: rgb(104, 180, 250);
    padding: 10px;
    display: block;
}
.div-hijo{
    padding: 10px;
    margin: 0px 10px 20px 10px;
    background-color:rgb(174, 244, 253);
    box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, .5);
    border-radius: 20px;
    min-width: 150px; min-height: 110px;
    display: flex;
    justify-content: center;
}
.div-hijo img{
    width: 130px;
    border-radius: 10px;
    

}
.barra::after{
    content: "|";
    margin: 10px;
}
.barra:hover{
    color: purple;
    cursor:pointer;
}

.nav-ul{
    list-style: none;
    right: 40%;
}
.barra{
    display: inline-block;
    padding: 10px;
}
header p{
    font-family:cursive;
    font-size: 30px; font-weight: bold;
}
main{
    display: flex;
    padding: 20px; margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}
.div-panchis{
    display: flex;
    position: relative;
    justify-content: center;
}
.div-panchis div{
    border: solid rebeccapurple;
    margin: 10px;
}
#one{
    padding: 10px;
    position: absolute;
    background-color: rgb(237, 219, 255);
    border-radius: 20px;
}
#two{
    width: 50vh;
    height: 30vh;
    margin-top: 15px;
    padding: 30px 15px 15px 15px; border-radius: 10px;
}
.bolillo{
    display: flex;
}