body{
    background-color: rgb(65, 12, 87);
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
}
main{
    margin: 0 auto;
    background-color: coral;
    padding: 10px;
}

header{
    background-color: rgb(146, 51, 235);
    color: whitesmoke; 
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    padding: 5px;
}
section{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
}
article{
    background-color: rgb(228, 242, 255);
    height: 100px;
    width: 500px;
    color: black;
    margin: 0 auto;
}
/* Class*/
#kk{
    color: darkblue;
}
.jeje::after{
    content: "😀😀";
    background-color: darkred;
    
}
.jeje:hover{
    color: darkslateblue;
    cursor: pointer;
    font-size: 20px;
}
.sisi:hover{
    color: firebrick;
}
.popo{
    font-size: 16px;
   font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    margin: 0 10px;
    }

    ul{
        padding: 0;
    }
h1, nav, ul, li{
    display: inline;
}
nav{
    float:left;
    margin-right: 400px;
}
 .popo:hover{
     color:black;
     cursor: pointer;
 }