.div1{
    width: 50%;
}
.div2{
    width: 40%;
    flex-direction: column;
    flex-grow: 1;

}
.div2 img{
    width: 140px; height: 110px; margin-top: 10px;
}
picture{
    margin-top: 50px; margin-right: 30px;
}
